<div class="row">
    <section class="container col-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Teacher</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="class in vm.classes | filter:query">
                    <td>{{class.Id}}</td>
                    <td>{{class.Title}}</td>
                    <td>{{class.Location}}</td>
                    <td>{{class.Teacher.Honorific}} {{class.Teacher.FirstName}} {{class.Teacher.LastName}} {{class.Teacher.Suffix}}</td>
                    <td><button class="glyphicon glyphicon-trash " ng-click="vm.deleteClass($index)"></button></td>
                </tr>
            </tbody>
            <tfoot ng-show="!vm.showAdd">
                <tr>
                    <td><span class="glyphicon glyphicon-plus" ng-click="vm.clickAdd()"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </section>
</div>
<div class="row">
    <section class="container col-md-4">
        <div class="panel panel-default" ng-show="vm.showAdd">
            <div class="panel-heading">Create New Class</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter Title" ng-model="vm.newClass.title">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter Locatione" ng-model="vm.newClass.Location">
                    </div>
                    <div class="form-group">
                        <label for="Teacher">Teacher</label>
                        <select class="form-control" ng-model="vm.newClass.Teacher" ng-options="t.Honorific + ' ' + t.FirstName + ' ' + t.LastName for t in vm.teachers" />
                    </div>
                    <button ng-click="vm.addClass(vm.newClass)" class="btn btn-default">Submit</button>
                    <button ng-click="vm.clickAdd()" class="btn btn-default">Cancel</button>
                </form>
            </div>
        </div>
    </section>
</div>